* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: url(../../images/Matrix.gif) repeat-x 0 100% fixed,
    linear-gradient(to top, #5080b1, #004e8c) fixed;
}

.wrapper {
  margin-top: 30vh;
}

.time_style {
  color: yellow;
  font-family: verdana;
  font-size: 100px;
  font-weight: 800;

  text-align: center;
}

.btn_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

button {
  width: 100px;
  padding: 0 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
  color: green;
  background: yellow;
  border-radius: 5px;
  cursor: pointer;
}
